<div class="navigation">
    <div class="brand"><img src="assets/super-admin/side-nav/logo.svg" alt=""></div>

    <div class="nav-text" (click)="routerLink('dashboard')">
        <img src="assets/super-admin/side-nav/dashboard.svg" id="dashboard" alt="">
        <span id="dashboardText">
            Dashboard
        </span>
        
    </div>

    <div class="nav-text" (click)="toggleUserTab()">
        <img src="assets/super-admin/side-nav/user.svg" id="user" alt="">
        <span id="userText">
            User
        </span>
        <div class="userText offset-2 animate__animated animate__fadeIn" *ngIf="subUser">
            <div class="subText" (click)="routerLink('user')">Users List</div>
            <div class="subText" (click)="routerLink('user-role')">Users Role</div>
        </div>
    </div>

    <div class="nav-text" (click)="routerLink('customers')">
        <img src="assets/super-admin/side-nav/people.svg" id="customer" alt="">
        <span id="customerText">
            Customer
        </span>
    </div>


    <div class="nav-text" (click)="routerLink('reports')">
        <img src="assets/super-admin/side-nav/reports.svg" id="reports" alt="">
        <span id="reportsText">
            Reports
        </span>
    </div>

    <div class="nav-text" >
        <img src="assets/super-admin/side-nav/configuration.svg" id="configuration" alt="">
        <span id="configurationText" (click)="toggleCustomerTab()">
            Configuration
        </span>
        <div class="userText offset-2 animate__animated animate__fadeIn" *ngIf="subCustomer">
            <div class="subText" (click)="routerLink('market-rate')">Market Rate</div>
            <div class="subText" (click)="routerLink('payment-channel')">Payment Channel</div>
            <div class="subText" (click)="routerLink('transaction')">Transaction</div>
        </div>
    </div>

    <div class="nav-text" (click)="routerLink('support')">
        <img src="assets/super-admin/side-nav/support.svg" id="support" alt="">
        <span id="supportText">
            Support
        </span>
    </div>
</div>