<div class="modal fade" id="successMsg" tabindex="-1" role="dialog" aria-labelledby="successMsgTittle" aria-hidden="true"  data-keyboard="false" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
  
        <div class="modal-body" >
            <div class="head" style="background-color: white">
        
                <img src="assets/footer/anelloh3.svg" />
                <div class="mt-3">
                    Verification Successful
                </div>
        
            </div>
        
            <div class="body-text2">
                <div>Welcome to Anelloh, the best foreign exchange platform!</div>
                
                <div>
                    Thanks for signing up to Anelloh. We are here to offer you the best solution to your currency exchange with just a SWAP. <br /> <br />
        
                    Anelloh was created with you in mind, to save you time from struggling to get your currency exchange to your prefered currency and we have also designed our platform to give you the best experience when making your transaction.  <br /> <br />
        
                    As a form of appreciation, you’ll get regular updates and special offers to help you fulfill your financial needs.  <br /> <br />
        
                    In case you have any further questions, visit our website or social media page. <br /> <br />
        
                    Once again, welcome our world of currency exchange solution. <br /> <br />
        
                    Cheers to a start of easy and  secured digital solution relationship!!! <br /> <br />
                </div>
            </div>
        </div>

    </div>
    <div class="offset-3 modal-footer" (click)="closeModal()">
        <button id="btn" mat-button >Ready</button>
    </div>
</div>

