<div class="parent">
    <app-header></app-header>
    <div class="body animate__animated animate__slideInRight">
        <div class="rect">

            <div class="rect1">
                <div class="text">
                    <div class="one">
                        Publish your orders to get<br /> swapped
                    </div>
                    <div class="two">
                        The best platform to exchange currencies.
                    </div>
                    <button mat-button (click)="createOrder()">
                        Create a new order
                    </button>
                </div>
                <div class="">
                    <img src="assets/listing/publish-listing.svg" />
                </div>
            </div>

            <div class="rect2">
                <div class="head">
                    <div>Top listings</div>
                    <div><a href="" >View more</a></div>
                </div>
                <table class="table table-hover" >
                    <thead class="thead" >
                        <tr>
                            <th>To Swap</th>
                            <th>For</th>
                            <th>Prefered Rate</th>
                            <th>By</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let list of top10">
                            <td>{{list.order.myCurrency}} {{list.order.myAmount}}</td>
                            <td>USD($)</td>
                            <td>N {{list.order.rate}}/{{list.order.convertedCurrency}}</td>
                            <td>@Oluchi</td>
                            <td>Published</td>
                            <td>
                                <button class="button" style="margin-right: 10px" mat-button (click)="view(list.order)">View </button>
                                <button class="button" mat-button (click)="swap(list.order)">Swap</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- graph goes here -->

            <!-- Listing based on rate maybe here -->
            <!-- Listing based on rate maybe here -->
        </div>

        <div class="group">

            <div class="group1" *ngIf="pendingOrders!==undefined">
                <div class="text1">
                    Pending Order Summary
                </div>
                <div class="line">
                    <div class="text2">To swap </div>
                    <div class="text3">{{pendingOrders.myCurrency}} {{pendingOrders.myAmount}}</div>
                </div>
                <div class="line">
                    <div class="text2">Rate </div>
                    <div class="text3">₦ {{pendingOrders.rate}}</div>
                </div>
                <div class="line">
                    <div class="text2">Subtotal </div>
                    <div class="text3">{{pendingOrders.convertedCurrency}} {{pendingOrders.convertedAmount}}</div>
                </div>
                <div class="line">
                    <div class="text2">Proessing Fee </div>
                    <div class="text3">{{pendingOrders.convertedCurrency}} {{pendingOrders.transactionFee}}</div>
                </div>
                <div class="line" style="border-bottom: 0px;">
                    <div class="text2">Total </div>
                    <div class="text3">{{pendingOrders.convertedCurrency}} {{ pendingOrders.convertedAmount + pendingOrders.transactionFee}}</div>
                </div>

                <div class="d-flex mt-1">
                    <div>
                        <img src="assets/listing/notice.svg" alt="" style="margin-right: 5.43px">
                    </div>
                    <div class="notice">
                        You wont be able to create a new<br /> order until you have fulfilled your<br /> pending order.
                    </div>
                </div>

                <button class="pay-now" (click)="paynow()">
                    Pay Now
                </button>
            </div>

            <div class="group2">
                <img src="assets/listing/group.svg" />
            </div>
        </div>
    </div>
</div>