.parent {
    background-color: #E5E5EF;
}
.body {
    padding: 80px 30px 0px 30px;
    display: flex;
    /* margin-top: 5%; */
    background-color: #FFFFFF;
    /* min-height: 99vh; */
}
.rect {
    display: block;
    width: 80%;
    height: 90vh;
    overflow: auto;
}
.rect1 {
    background: #76CDCD;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 23px 45px;
}
.rect1 .text .one {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #26474E;
}
.rect1 .text .two {
    margin: 10px 0px 10px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #262C31;
}
.group2, .group1 {
    margin: 15px 0px 25px 30px;
    padding: 55px 34px;
    background-color: #FFFFFF;
    border: 1px solid rgba(152, 157, 179, 0.3);
    box-sizing: border-box;
    box-shadow: 2px 8px 20px rgba(152, 157, 179, 0.15);
    border-radius: 5px;
}
.group2 {
    margin-top: 0px;
}
.rect1 .text button {
    background: #F27348;
    border-radius: 15px;
    padding: 12px 45px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 0px;
    text-justify: auto;
}
.timer {
    margin-top: 6px;
    margin-left: 100px;
    font-weight: normal;
    font-size: 12.5px;
    line-height: 17px;
    color: #262C31;
}
.rect2 {
    margin: 40px 0px;
    padding-bottom: 26px;
}
.rect2 .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rect2 .head div:first-child {
    font-size: 14px;
    line-height: 29px;display: flex;
    align-items: flex-end;
    color: #26474E;
    font-weight: bold;
}
.rect2 .head div:nth-child(2) a {
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #26474E;
    font-weight: 600;
}
td {
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.002em;
    color: #254750;
    /* min-width: 160px; */
}
th {
    font-size: 12px;
    /* padding: 20px 0 14px 25px; */
}
tr {
    border-bottom: 1px solid #E8E8E8;
}
.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 10px 30px;
    background-color: #F27348;
    border-radius: 15px;
    border: 0px;
}
.table {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(152, 157, 179, 0.1);
    border-radius: 5px;
}
.thead{
    background: #26474E;
    color: white
}
table th:last-child{
  border-radius:0 10px 10px 0;
}
table th:first-child{
  border-radius:10px 0 0 10px;
}

.group1 {
    margin-top: 0px;
    height: auto;
    padding: 25px;
    background-color: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.group1 .text1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #254750;
    margin-bottom: 23px;
}
.line {
    display: flex;
    padding: 25px 0px;
    align-items: center;
    border-bottom: 1px solid rgba(152, 157, 179, 0.4);
}
.text2 {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #262C31;  
    width: 50%;  
}
.text3{
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #254750;
}
.notice {
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    color: #4D4D4D;
}
.pay-now {
    background-color: #F27348;
    border-radius: 15px;
    outline: none;
    padding: 10px 0px;
    font-weight: bold;
    border: 0px;
    margin-top: 19px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    color: white;
}
.pay-now:hover,  button:hover, .group2:hover {
    opacity: .6;
}
.group2 img {
    width: 100%;
}
.group2 {
    cursor: pointer;
}
.td-button {
    display: flex;
}
.payment-success {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 40px 150px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #254750;
}
.one {
    margin-bottom: 30px;
}
.success-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #254750;
    margin-top: 30px;
}
.spinner {
    position: absolute; top: 50%; left: 50%
}

@media screen and (max-width: 880px) {
    .group {
        display: none;
    }
    .rect {
        width: 100%;
    }
    .rect2 {
        max-width: 100% !important; overflow: auto !important;
    }
    th, td {
        white-space: nowrap;
        font-size: 10px;
    }
}

@media screen and (max-width: 528px) {
  .rect1 {
    padding: 23px 15px;
  }
}
@media screen and (max-width: 528px) {
    .rect1 {
      padding: 23px 15px;
    }
    .img_div {
        width: 100%;
    }
    .rect1 img {
        height: 160px;
    }

  }
  @media screen and (max-width: 476px) {
    .rect1 {
      padding: 23px 15px;
    }
    .img_div {
        width: 100%;
    }
    .rect1 img {
        height: 140px;
    }


  }
  @media screen and (max-width: 446px) {
    .rect1 {
      padding: 23px 15px;
    }
    .img_div {
        width: 100%;
    }
    .rect1 img {
        height: 120px;
    }
 
    .body {
        padding: 80px 15px;
      }
  }
  @media screen and (max-width: 429px) {

    .rect1 img {
        height: 120px;
    }

  }
  @media screen and (max-width: 385px) {

    .rect1 img {
        height: 150px;
        width: 100px;
    }
  }
  @media screen and (max-width: 345px) {

    .rect1 img {
        display: none;
    }
  }