<div class="body" *ngIf="!successful">
    <div class="head">

        <img src="assets/auth/anelloh2.svg" />
        <div class="text1">
            Email Verification
        </div>

    </div>

    <div class="body-text">
        <div>Hi Tella,</div>
        <div class="child2">You're almost done!</div>
        <div>
            Thank you  for signing up with Anelloh. <br />
            Please click the button below to <br />verify your account and to confirm we’ve got the right email address.
        </div>
    </div>

    <button mat-button>Verify</button>

</div>



<app-footer></app-footer>