<form (submit)="submit()" class="modal-content animate__animated animate__fadeIn">
    <div class="header">
        <img src="assets/auth/back.svg" (click)="backToSettings()" alt="">
        <div class="settings">Change Password </div>
    </div>
    <div class="text-danger text-sm">{{err}}</div>
    <div class="text2 ml-1">
        Your new password must be different from previously used <br />password.
    </div>

    <div class="form-group mt-4">
        <label for="currentPassword" class="text2 ml-0">Current Password</label> <br />
        <input type="password" id="currentPassword" [(ngModel)]="user.oldPassword" name="oldPassword">
    </div>

    <div class="form-group">
        <label for="changePassword" class="text2 ml-0">New Password</label> <br />
        <input type="password" id="changePassword"  [(ngModel)]="user.newPassword" name="newPassword">
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="text2 ml-0">Confirm Password</label> <br />
        <input type="password" id="confirmPassword"  [(ngModel)]="user.confpassword" name="confpassword">
    </div>

    <div class="d-flex mt-4">
        <button class="ml-auto" *ngIf="!loading">Save Changes</button>
        <button class="ml-auto" *ngIf="loading" disabled>Please wait...</button>
    </div>

    <div class="text-center text-info text-sm mt-5">
        {{msg}}
    </div>
</form>
