
<div class="body animate__animated animate__fadeIn">
    <div class="one">
        <div>Add User <span (click)="goBack()">or go Back</span></div>
        <img class="userAvatar" src="assets/header/avatar.jpg" alt="">
        <button mat-button>Upload</button>
        <button mat-button>Remove</button>
    </div>

    <div class="bio-data">
        <div class="mb-3">Biodata</div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="firstName">First name</label><br />
                <input type="text">
            </div>
            <div class="form-group">
                <label for="middleName">Middle name</label><br />
                <input type="text">
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="lastName">Last name</label><br />
                <input type="text">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label><br />
                <input type="text">
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="email">Email</label><br />
                <input type="text">
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label><br />
                <input type="text">
            </div>
        </div>

    </div>

    <!-- Official Info -->
    <div class="bio-data mt-4">
        <div class="mb-3">Official Information</div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="firstName">Department</label><br />
                <input type="text">
            </div>
            <div class="form-group">
                <label for="middleName">Supervisor</label><br />
                <input type="text">
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="lastName">Role</label><br />
                <input type="text">
            </div>
            <div class="form-group">
                <label for="gender">Staff Code</label><br />
                <input type="text">
            </div>
        </div>

        <div class="d-flex">
            <div class="form-group mr-4">
                <label for="email">Access Level</label><br />
                <select name="" id="" class="p-2">
                    <option value="">Super Admin</option>
                    <option value="">Admin</option>
                    <option value="">Customer Service</option>
                </select>
            </div>
            <div class="form-group">
                <!-- <label for="phoneNumber">Phone Number</label><br />
                <input type="text"> -->
            </div>
        </div>

    </div>

    <div class="d-flex">
        <button mat-btton class="ml-auto add-user-button">Add User</button>
    </div>
</div>