<div class="body">
    <div class="left">
        <app-forgot-password-frame></app-forgot-password-frame>
    </div>
    
    <div class="right"  *ngIf="emailSection">
        <div class="text">
        <h5>Forgot Password</h5>
        <h6>Enter the email address associated with<br /> your account</h6>
        </div>
        <form class="form" (submit)="handleSubmit()">
            <div class="form-group" style="margin-bottom: 15px">
                <label for="email"> Email address</label>
                <div class="input-box">
                <input type="email" name="email" [(ngModel)]="recoverUser.email" />
                </div>
            </div>            

            <div>
                <button type='submit'>Recover Password</button>
            </div>
          
        </form>
    </div>

        <div class="right"  *ngIf="!emailSection">
        <div class="text">
        <h5>Update Password</h5>
        <h6>Enter the email address associated with <br />your account</h6>
        </div>
        <form class="form" (submit)="handleSubmit()">
            <div class="form-group " style="margin-bottom: 15px">
                <label for="password">New password</label>
                <div class="input-box password">
                    <input type="text" name="password" [(ngModel)]="user.password" />
                    <div (click)="togglePasswordType()" style="cursor: pointer">
                        <img src="assets/auth/eye.svg" *ngIf="type=='text'" />
                        <img src="assets/auth/eye.svg" *ngIf="type=='password'"/>
                    </div>
                </div>
            </div>
            <div class="form-group " style="margin-bottom: 15px">
                <label for="password">Confirm password</label>
                <div class="input-box password">
                <input type="text" name="password" [(ngModel)]="user.password" />
                    <div (click)="togglePasswordType()" style="cursor: pointer">
                    <img src="assets/auth/eye.svg" *ngIf="type=='text'" />
                    <img src="assets/auth/eye.svg" *ngIf="type=='password'"/>
                    </div>
                </div>
            </div>         

            <div>
                <button type='submit'>Recover Password</button>
            </div>
          
        </form>
    </div>
</div>