<app-header></app-header>

<div class="body">

    <div class="box1">
        <div class="text1">
            Activities
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">Need USD </div>
                    <div class="text3">Rate ₦ 445</div>
                </div>
                <div class="text4">
                    $100,000
                </div>
            </div>
            <div class="text5">
                Today
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">Need USD </div>
                    <div class="text3">Rate ₦ 445</div>
                </div>
                <div class="text4">
                    $100,000
                </div>
            </div>
            <div class="text5">
                Today
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">Need USD </div>
                    <div class="text3">Rate ₦ 445</div>
                </div>
                <div class="text4">
                    $100,000
                </div>
            </div>
            <div class="text5">
                Today
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">Need USD </div>
                    <div class="text3">Rate ₦ 445</div>
                </div>
                <div class="text4">
                    $100,000
                </div>
            </div>
            <div class="text5">
                Today
            </div>
        </div>
    </div>
    
    <div class="box2">
        <div class="header">
            <div>Saved Order</div>
            <div class="pointer">
                <img src="assets/activity/edit.svg" alt="">
            </div>
        </div>

        <div class="lines2">
            <label for="currency">Currency</label><br/>
            <select name="" id="">
                <option value="">United States Dollar</option>
                <option value="">Canadian Dollars</option>
                <option value="">Nigeria Naira</option>
                <option value="">Great Britain Pounds</option>
                <option value="">European Euro</option>
            </select>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">Amount</div>
                <div class="label">
                    Rate
                </div>
            </div>
            <div class="d-flex select">
                <div class=" mr-auto">$100,000</div>
                <div>
                    N445/$
                </div>
            </div>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">By</div>
                <div class="label">
                    Date
                </div>
            </div>
            <div class="d-flex select">
                <div class="mr-auto">You</div>
                <div class="">
                    Today
                </div>
            </div>
        </div>

        <div class="btn-section">
            <button mat-button>
                Publish
            </button>
        </div>
    </div>
    
    <div class="">
        <div class="group1">
            <img src="assets/listing/smallcard.svg" />
        </div>
        <!-- <div class="group2">
            <img src="assets/listing/group.svg" />
        </div> -->
    </div>

</div>
