.body {
    padding: 90px 24px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 85px; */
    background-color: #fff;
}
.box1 {
    background-color: #FFFFFF;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 15px;
    min-height: 93vh;
    width: 25%;
}
.text1 {
    padding: 32px 0px 18px 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: #26474E;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 15px 15px 0 0;
    margin-bottom: 3px;
}
.lines {
    border-bottom: 1px solid rgba(152, 157, 179, 0.4);
    padding: 18px 12px;
    background: #FBFEFF;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}
.d-flex {
    align-items: center;
}
.text2 {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #262C31;
    margin: 0px 29px 8px 0px;
    padding-top: 3px;
}
.text3 {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #848484;
}
.text4 {
    font-weight: bold;
    font-size: 16px;
    /* line-height: 22px; */
    color: #F27348;
}
.text5 {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #848484;
    /* text-align: right; */
}
.match {
    color: #262C31;;
}
.status {
    background-color: rgba(242, 115, 72, 0.1);
    border-radius: 4px;
    color: #F27348;
    padding: 5px;
}
.day {
    color: #848484;
    padding: 4px 0px;
}
.box2 {
    padding: 0px 32px;
    min-width: 50%;
    /* margin-left: 30px; */
}
.header {
    padding: 0px 32px 7px 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #254750;
    display: flex;
    justify-content: space-between;
}
.group2 {
    padding: 55px 34.9px 63px 34px;
    background-color: #FFFFFF;
    border: 1px solid rgba(152, 157, 179, 0.3);
    box-sizing: border-box;
    box-shadow: 2px 8px 20px rgba(152, 157, 179, 0.15);
    border-radius: 5px;
    /* height: 53vh; */
}
.group1 {
    padding: 122px 24px 149px 25px;
    background-color: #76CDCD;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 5px;
    margin-bottom: 16px;
    width: 100%;
}
.segment2 { 
    width: 25%;
    /* margin-left: 30px; */
}
.lines2 {  
    border-top: 1.5px solid #EFEFEF;
    padding: 20px 0px;
}
label, .label {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #262C31;
}
select, .select {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #254750;
    width: 100%;
}
select option {
    background-color: #E5E5E5;
}
button {
    background-color: #F27348;
    border-radius: 15px;
    padding: 2px 94px;
    color: white;
}
.btn-section {
    display: flex;
    margin-top: 4px;
    justify-content: flex-end;
}
.box3 {
    width: 25%;
}
@media screen and (max-width: 971px) {
    .box1 {
        width: 40%;
    }
}
@media screen and (max-width: 804px) {
    .box3 {
       display: none;
    }
    .box1 {
        width: 40%
    }
    .box2 {
        width: 60%;
    }
}
@media screen and (max-width: 624px) {
    .box1 {
        width: 50%
    }
    .box2 {
        width: 50%;
    }
}
@media screen and (max-width: 514px) {
    .box2 {
        display: none;
    }
    .box1 {
        width: 100%;
    }
}