.body {
    margin-top: 100px; padding: 0px 0px 20px 19%;
    color: #26474E; width: 100%; position: absolute;
}
.text1 {
    font-weight: 600;
    font-size: 20px;
    /* line-height: 29px; */
}
.faqs {
    margin-top: 50px;
    /* max-height: 75vh; overflow: auto; */
}
.faq-button, .post-button {
    color: white;
    background-color: #F27348;
    border-radius: 12px;
    padding: 0px 25px;
    font-size: 12px;
    margin-left: 35px;
}
.post-button {
    margin-left: 0px;
    margin-top: 30px;
}
.first, .addFaq {
    width: 75%;
}
mat-expansion-panel {
    margin-top: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-top: 4px solid #F27348;
    border-radius: 8px 8px 0px 0px;
    font-size: 12px;
    line-height: 15px;
}
mat-expansion-panel-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 30px 20px;
}
.faq-draw {
    padding: 96px 26px; background-color: #76CDCD;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 5px;
}
.faq-draw2 {
    padding: 54px 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(152, 157, 179, 0.3);
    box-sizing: border-box;
    box-shadow: 2px 8px 20px rgba(152, 157, 179, 0.15);
    border-radius: 5px;
    margin-top: 15px;
}
.header {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #26474E;
    margin-top: 28px;
    margin-left: 12px;
    margin-bottom: 12px;
}
.box {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 9.63406px;
    padding: 18px 33px;
    line-height: 17px;
    display: flex;
    width: 100%;
}
input, textarea { 
    font-size: 14px;
    width: 93%;
    border: 0px;
    outline: 0;
}
span {
    color: #F27348; font-style: italic; font-size: 10px; text-decoration: underline; cursor: pointer; margin-left: 10px;
}