<app-header></app-header>

<div class="body">

    <div class="box1">
        <div class="text1">
            Activities
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">To @ade  </div>
                    <div class="text3">Today</div>
                </div>
                <div class="ml-auto">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text2">
                        Rate ₦ 445
                    </div>
                    <div class="text5">
                        + ₦ 4.00
                        <img src="assets/listing/arrow-up.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">To @ade  </div>
                    <div class="text3">Today</div>
                </div>
                <div class="ml-auto">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text2">
                        Rate ₦ 445
                    </div>
                    <div class="text5">
                        + ₦ 4.00
                        <img src="assets/listing/arrow-up.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">To @ade  </div>
                    <div class="text3">Today</div>
                </div>
                <div class="ml-auto">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text2">
                        Rate ₦ 445
                    </div>
                    <div class="text5">
                        + ₦ 4.00
                        <img src="assets/listing/arrow-up.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="40" height="40" style="margin-right: 9px;">
                </div>
                <div>
                    <div class="text2">To @ade  </div>
                    <div class="text3">Today</div>
                </div>
                <div class="ml-auto">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text2">
                        Rate ₦ 445
                    </div>
                    <div class="text5">
                        + ₦ 4.00
                        <img src="assets/listing/arrow-up.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box2">
        <div class="header">
            <div>Transaction Summary</div>
        </div>

        <div class="lines2">
            <label for="currency">Currency</label><br/>
            <div class="select">
                United States Dollar
            </div>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">Amount</div>
                <div class="label">
                    Rate
                </div>
            </div>
            <div class="d-flex select">
                <div class=" mr-auto">$100,000</div>
                <div>
                    N445/$
                </div>
            </div>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">Status</div>
                <div class="label">
                    Date
                </div>
            </div>
            <div class="d-flex select">
                <div class="mr-auto">Successful</div>
                <div class="">
                    Today
                </div>
            </div>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">Reference </div>
                <div class="label">
                    To
                </div>
            </div>
            <div class="d-flex select">
                <div class="mr-auto">3N5TFF6738</div>
                <div class="">
                    @ade
                </div>
            </div>
        </div>

    </div>
    
    <div class="">
        <div class="group1">
            <img src="assets/listing/smallcard.svg" />
        </div>
        <!-- <div class="group2">
            <img src="assets/listing/group.svg" />
        </div> -->
    </div>

</div>
