<app-header></app-header>

<div class="body">

    <div class="box1">
    
        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="37" height="37" style="margin-right: 9px;">
                </div>
                <div class="mr-auto mt-2">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text3">Rate ₦ 445</div>
                    <div class="text2">+ ₦ 4.00 <img src="assets/listing/arrow-up.svg" height="20" width="20" alt=""> </div>
                </div>
                <div class="text5">
                    <div class="match">No match</div>
                    <div class="day">Today</div>
                    <div class="status">Published</div>
                </div>
            </div>
        </div>

        
        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="37" height="37" style="margin-right: 9px;">
                </div>
                <div class="mr-auto mt-2">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text3">Rate ₦ 445</div>
                    <div class="text2">+ ₦ 4.00 <img src="assets/listing/arrow-up.svg" height="20" width="20" alt=""> </div>
                </div>
                <div class="text5">
                    <div class="match">No match</div>
                    <div class="day">Today</div>
                    <div class="status">Published</div>
                </div>
            </div>
        </div>

        
        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="37" height="37" style="margin-right: 9px;">
                </div>
                <div class="mr-auto mt-2">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text3">Rate ₦ 445</div>
                    <div class="text2">+ ₦ 4.00 <img src="assets/listing/arrow-up.svg" height="20" width="20" alt=""> </div>
                </div>
                <div class="text5">
                    <div class="match">No match</div>
                    <div class="day">Today</div>
                    <div class="status">Published</div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="d-flex">
                <div>
                    <img src="assets/listing/usd.svg" alt="" width="37" height="37" style="margin-right: 9px;">
                </div>
                <div class="mr-auto mt-2">
                    <div class="text4">
                        $100,000
                    </div>
                    <div class="text3">Rate ₦ 445</div>
                    <div class="text2">+ ₦ 4.00 <img src="assets/listing/arrow-up.svg" height="20" width="20" alt=""> </div>
                </div>
                <div class="text5">
                    <div class="match">No match</div>
                    <div class="day">Today</div>
                    <div class="status">Published</div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="box2">
        <div class="header">
            <div>Saved Order</div>
            <div class="pointer">
                <img src="assets/activity/edit.svg" alt="">
            </div>
        </div>

        <div class="lines2">
            <label for="currency">Currency</label><br/>
            <select name="" id="">
                <option value="">United States Dollar</option>
                <option value="">Canadian Dollars</option>
                <option value="">Nigeria Naira</option>
                <option value="">Great Britain Pounds</option>
                <option value="">European Euro</option>
            </select>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">Amount</div>
                <div class="label">
                    Rate
                </div>
            </div>
            <div class="d-flex select">
                <div class=" mr-auto">$100,000</div>
                <div>
                    N445/$
                </div>
            </div>
        </div>

        <div class="lines2">
            <div class="d-flex">
                <div class="label mr-auto">By</div>
                <div class="label">
                    Date
                </div>
            </div>
            <div class="d-flex select">
                <div class="mr-auto">You</div>
                <div class="">
                    Today
                </div>
            </div>
        </div>

        <!-- <div class="btn-section">
            <button mat-button>
                Publish
            </button>
        </div> -->
    </div>
    
    <div class="box3">
        <div class="group1">
            <img src="assets/listing/smallcard.svg" />
        </div>
        <!-- <div class="group2">
            <img src="assets/listing/group.svg" />
        </div> -->
    </div>

</div>