
.head {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    padding: 8px 31px;
    background-color: #FFFFFF;
    box-shadow: 2px 8px 15px rgba(85, 85, 85, 0.05);
}
.icon {
    display: none;
}
.nav-brand {
    line-height: 44px; cursor: pointer;
}
.search-box {
    background-color: #FFFFFF;
    border: 1px solid #848484;
    border-radius: 15px;
    width: 360px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.search-box img {
    margin-right: 16px;
}
input {
    border: 0px;
    outline: none;
    width: 100%;
    font-size: 12px;
}
.lastChild {
    display: flex;
    justify-content: space-between;
    line-height: 44px;
}
.lastChild div {
    cursor: pointer;
}
.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    text-align: right;
    letter-spacing: 0.002em;
    color: #254750;
    margin-left: 9px;
}
.avatar {
    width: 32px; height: 32px; border-radius: 40px;
}
li:hover {
    background-color:#f5f5f5;
}
@media screen and (max-width: 875px) {
    .search-box {
        width: 250px;
    }
}
@media screen and (max-width: 750px) {
    .search-box, .lastChild {
        display: none
    };

    .lastChild {
        padding-right: 20px;
    }
    .lastChild div {
        margin-right: 10px;
    }
    .icon {
        display: flex; align-items: center;
    }
    .head {
        padding: 8px;
    }
}