<div class="head d-flex">
    <div class="nav-brand">
        <img src="assets/header/logo.svg" />
    </div>

    <div class="ml-auto mr-auto search-box">
        <img src="assets/header/search.svg" />
        <input autocomplete="off" type="search" placeholder="Search listings"   />
    </div>

    <div class="lastChild">
        <div style="margin-right: 42px">
            <img src="assets/header/activity.svg" />
        </div>

         <div style="margin-right: 42px">
            <img src="assets/header/help.svg" />
        </div>

         <div style="margin-right: 31px">
            <img src="assets/header/notification.svg" />
        </div>

         <div style="margin-right: 9px; line-height: 44px">
            <img src="assets/header/avatar.svg" />
        </div>
        <div class="name">
            Ola Steve
        </div>
    </div>
</div>