<div class="body">
    <img src="assets/super-admin/configuration/stripe.svg" class="mb-1" width="50" height="50" alt="">
    <div class="group">
        <div class="sub-group">
            <label for="">Payment Channel</label><br/>
            <input type="text">
        </div>
        <div class="sub-group ml-3">
            <label for="">Currency Code</label>
            <select name="" id="">
                <option value="">NGN</option>
                <option value="">USD</option>
                <option value="">CAD</option>
                <option value="">GRP</option>
                <option value="">EUR</option>
            </select>
        </div>
    </div>

    <div class="group mt-2">
        <div class="sub-group">
            <label for="">Fee Type</label><br/>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class="sub-group ml-3">
            <label for="">Fee Rate</label>
            <input type="text">
        </div>
    </div>

    <div class="group mt-2">
        <div class="sub-group">
            <label for="">Minimum Transaction Fee</label><br/>
            <input type="text">
        </div>
        <div class="sub-group ml-3">
            <label for="">Maximum Transaction Fee</label>
            <input type="text">
        </div>
    </div>

    <div class="allow mt-3">
        <div class="mr-4">Allow Auto-Reversal</div>  
        <mat-slide-toggle color="primary"></mat-slide-toggle>
    </div>

    <div class="group mt-2">
        <div class="sub-group">
            <label for="">Reversal Fee Rate</label><br/>
            <input type="text">
        </div>
        <div class="sub-group ml-3">
            <label for="">Reversal Transaction Fee</label>
            <input type="text">
        </div>
    </div>

    <div class="d-flex">
        <button class="ml-auto" mat-button>Save</button>
    </div>
</div>