<div class="whole">
    <div class="tittle">Dashboard</div>
    
    <div class="body">
        <div class="body1">
            <div style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)">

                <div class="user">
                    <img src="assets/header/avatar.jpg" width="65" height="65" alt="">
                    <div class="role">Super Admin</div>
                    <div class="user-email">oluchukwu@gmail.com</div>
                </div>
                <div class="user-id">
                    User ID: 5552555
                </div>
            </div>

            <div class="revenue">
                <span class="sub-head">Revenue</span><br /><br />
                <div class="text-center mt-2">
                    <img src="assets/super-admin/dashboard/coin.svg" alt="">
                    <div class="revenue-amount m-4">$ 12,000,000</div>
                </div>
            </div>
        </div>


        <div class="body2">
            <div class="first">
                <div class="one">
                    <div style="padding: 13px 16px">
                        <div class="revenue-amount mb-1">
                             10,000
                        </div>
                        <div style="font-size: 10px;" class="mb-2">
                          Total Number of <br />Customers
                        </div>
                    </div>

                   <div class="view-details">
                        View Details
                   </div>
                </div>

                <div class="one">
                    <div style="padding: 13px 16px">
                        <div class="revenue-amount mb-1">
                             10,000
                        </div>
                        <div style="font-size: 10px;" class="mb-2">
                          Total Number of <br />Customers
                        </div>
                    </div>

                   <div class="view-details">
                        View Details
                   </div>
                </div>

                <div class="one">
                    <div style="padding: 13px 16px">
                        <div class="revenue-amount mb-1">
                             10,000
                        </div>
                        <div style="font-size: 10px;" class="mb-2">
                          Total Number of <br />Customers
                        </div>
                    </div>

                   <div class="view-details">
                        View Details
                   </div>
                </div>

                <div class="one">
                    <div style="padding: 13px 16px">
                        <div class="revenue-amount mb-1">
                             10,000
                        </div>
                        <div style="font-size: 10px;" class="mb-2">
                          Total Number of <br />Customers
                        </div>
                    </div>

                   <div class="view-details">
                        View Details
                   </div>
                </div>


            </div>

            <div class="second">
                <div class="chart-section">
                    <div class="status">
                        <span class="text-success">Published</span>
                        <span>Matched</span>
                        <span class="text-warning">Unfulfiled</span>
                    </div>

                   <div class="status">
                        <span class="text-info">Fulfilled</span>
                        <span class="text-danger">Cancelled</span>
                        <span class="text-orange">Completed</span>
                    </div>

                    <div>
                        <img src="assets/super-admin/dashboard/chat.svg" alt=""/>
                    </div>
                </div>
                <div class="performance">
                    <div class="performance-text">Performance</div>
                    <div class="pie">
                        <img src="assets/super-admin/dashboard/pie-chart.svg" alt="">
                    </div>
                    <div class="indicator">

                        <div class="d-flex"><div class="actual"></div><div class="ml-2">Actual</div> </div>
                        <div class="d-flex"><div class="target"></div><div class="ml-2">Target</div> </div>

                    </div>
                    <div class="view-detailed-report text-center">View detailed report</div>
                </div>
               
            </div>
        </div>

    </div>

    <div class="second mt-0">
        <div style="margin: 10px 10px 10px 0px; max-height: 50vh; min-height: 50vh; overflow: auto; width: 80%; padding: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
            <div class="sub-head">Transaction History</div>
            <table class="table">
                <thead class="thead" >
                    <tr>
                        <th>Name</th>
                        <th>Order No</th>
                        <th>Swap Amount</th>
                        <th>For</th>
                        <th>Rate</th>
                        <th>Transaction Fee</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Oluchi Chi</td>
                        <td>09040i</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                    </tr>
                    <tr>
                        <td>Oluchi Chi</td>
                        <td>09040i</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                    </tr>
                    <tr>
                        <td>Oluchi Chi</td>
                        <td>09040i</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                    </tr>
                    <tr>
                        <td>Oluchi Chi</td>
                        <td>09040i</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                        <td>N200,000</td>
                    </tr>
                </tbody>
            </table>
           
        </div>
        <div style="margin: 10px 10px 10px 0px; width: 26%;padding: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
            <div class="sub-head mb-0">Device Metrics</div>
            
            <div >
                <select name="" id="" class="d-flex ml-auto">
                    <option value="">Month</option>
                </select>

                <div class="bar">
                    <img src="assets/super-admin/dashboard/bar.svg" alt="">
                </div>

                <div class="indicator mt-3 p-0">

                    <div class="d-flex"><div class="actual"></div><div style="white-space: nowrap;" class="ml-2">Mobile Phone</div> </div>
                    <div class="d-flex"><div class="target"></div><div class="ml-2">Desktop</div> </div>

                </div>
            </div>
            
        </div>
       
    </div>
</div>

<app-admin-header></app-admin-header>
<app-side-nav></app-side-nav>