<div class="body" *ngIf="!success">
    <div>
        <div class="envelop">
            <img src="assets/auth/envelop.svg" />
        </div>
        <div class="text1">
            OTP Authentication
        </div>
        <div class="text2">
            Enter the OTP sent to your mail
        </div>
        <div class="text2" style="width: 262px" *ngIf="confirmViaEmail">
            Confirm the verification information sent to your email to complete your login process.
        </div>
        <div class="input text-center">
            <div class="box " id="box1" #box1>
                <input type="number" name="one" [(ngModel)]="input.one" #one autofocus (keyup)="inputFunc($event, 1)">
            </div>
            <div class="box" id="box2">
                <input type="number" name="two" [(ngModel)]="input.two" #two (keyup)="inputFunc($event, 2)">
            </div>
            <div class="box" id="box3">
                <input type="number" name="three" [(ngModel)]="input.three"  #three (keyup)="inputFunc($event, 3)">
            </div>
            <div class="box" style="margin-right: 0px" id="box4" >
                <input type="number" name="four" [(ngModel)]="input.four" #four (keyup)="inputFunc($event, 4)">
            </div>
        </div>   
    </div>
</div>
<div class="text-center text-danger" style="font-size: 12px;" *ngIf="!success">{{err}}</div>
<div class="text3" *ngIf="!success">Resend OTP?</div>
<div style="display: flex; justify-content: center;" *ngIf="!success">
    <button type='submit' (click)="loading? '' : handleSubmit()">
        <span *ngIf="!loading" >Verify</span> 
        <img *ngIf="loading" src="assets/auth/loader.gif" width="20" height="20" alt="">
    </button>
</div>


<app-verification-success *ngIf="success"></app-verification-success>