<div class="body animate__animated animate__fadeIn" *ngIf="!addUserClicked && !editUserClicked">
 
    <div class="text1">Users</div>
    <div style="text-align: end;"><button class="btnText" mat-button (click)="toggleAddUser()">+ Add User</button></div>
    
    <div class="two">
        <div class="d-flex d-flex1">
            <div class="text2 mr-auto">Users List</div>
            <div class="search-box">
                <img src="assets/header/search.svg" />
                <input type="search" placeholder="Search users"   />
            </div>
            <div class="filters dropdown"  >
                <div class="dropdown-tog" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="d-flex">
                        <div class="mt-1">Filter</div>
                        <img class="ml-auto" src="assets/super-admin/user/path.svg" alt="">
                    </div>
                </div>
         
                <div class="dropdown-menu mt-2 animate_animated animate__fadeIn" aria-labelledby="dropdownMenuButton" >
                    <li style="font-size: 13px;" class="d-flex p-2" (click)="handleFilter('all')">
                        <!-- <img src="assets/header/user.svg" class="mr-4" alt=""> Profile -->
                        All
                    </li>
                    <li style="font-size: 13px;" class="d-flex p-2" (click)="handleFilter('active')">
                        <!-- <img src="assets/header/user.svg" class="mr-4" alt=""> Profile -->
                        Active
                    </li>
                    <li style="font-size: 13px;" class="d-flex p-2"  (click)="handleFilter('inactive')">
                        Inactive
                    </li>
                    <li style="font-size: 13px;" class="d-flex p-2"  (click)="handleFilter('deactivated')" >
                        Deactivated
                    </li>
                </div>
            </div>
        </div>

        <table class="table">
            <thead class="thead" >
                <tr>
                    <th>Staff Code </th>
                    <th>Name </th>
                    <th>Email </th>
                    <th>Access Level </th>
                    <th>Status </th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let staff of allStaffs; let i = index">
                    <td> {{staff?.staffId}} </td>
                    <td>
                        <img src="assets/header/avatar.jpg" width="25" height="25" alt="">
                        {{staff?.lastName}} {{staff?.firstName}} 
                    </td>
                    <td>{{staff?.email}}</td>
                    <td>{{staff?.roleId==1? 'Super Admin' : staff?.roleId==2? 'Admin' : 'Customer Service'}}</td>
                    <td>
                        <span style="padding: 4px 8px" [style.color]=" staff?.status==0? '#76CDCD':'#F27348' " [style.background-color]=" staff?.status==0? 'rgba(118, 205, 205, 0.1)':'rgba(242, 115, 72, 0.1)' ">
                            {{staff?.status==0? 'Active' : staff?.status==1?  'Inactive' : 'Deactivated'}}
                        </span> 
                    </td>
                    <td class="td-button" (click)="showMore(i)" style="cursor: pointer;">
                        <img src="assets/super-admin/user/ellypsis.svg" alt="">
                    </td>
                    <div class="pop animate__animated animate__bounceIn" *ngIf="staff?.more==true">
                        <div (click)="handleEdit(staff)">
                            <img src="" alt="">
                            Edit
                        </div>
                        <div (click)="handleDeactivate(staff)">
                            <img src="" alt="">
                            Deactivate
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>
<app-add-user *ngIf="addUserClicked" ></app-add-user>
<app-edit-user *ngIf="editUserClicked" [data]="staffToEdit"></app-edit-user>

<app-admin-header></app-admin-header>
<app-side-nav></app-side-nav>

