<div class="footer">
    <div class="first"> 
        <a href="" >
            <img src="assets/footer/twitter.svg" />
        </a>
        <a href="">
            <img src="assets/footer/facebook.svg" />
        </a>
        <a href="">
             <img src="assets/footer/instagram.svg" />
        </a>
    </div>

    <div class="second">
    You are receiving this email because you have 
    visited our site or asked us about <br />regular newsletter. 
    If you wish to unsubscribe from our newsletter, click here.
    </div>

    <div class="third">
    <a href="">Terms of Use.</a>  <a href="" >Privacy Policy</a>
    </div>

    <div class="last">
    Copyright © 2021, Anelloh
    </div>
</div>