<div class="whole">
    <div class="top">
        <img src="assets/auth/back.svg" alt="" (click)="goBack()" class="pointer">
    </div>
    <form (submit)="handleSubmit()" class="body">
        <div class="text1">
            Complete your profile
        </div>
        <div class="text2">
            You are required to provide necessary documents to complete registration.
        </div>
        
        <div class="form-group">
            <label for="password">Bank Verification Number</label>
            <div class="input-box edit">
              <input type="number" id="edit" [(ngModel)]="user_.bvn" name="bvn"/>
            <div style="cursor: pointer" class="ml-auto">
                <img src="assets/auth/edit.svg" />
            </div>
            </div>
        </div>
        <div class=" ">
            <label for="fileInput">Select Prefered ID</label>
            <div class="choice-selection d-flex">
                    <!-- [(ngModel)]="user.completed" name="completed" -->
                <mat-radio-group aria-label="Select an option" [(ngModel)]="user_.docType" name="docType">
                    <mat-radio-button value="nin" name="nin" color="primary"><span>NIN</span></mat-radio-button>
                    <mat-radio-button class="offset-5" value="intPassport" [checked]="true" color="primary" checked><span>Int’l Passport</span></mat-radio-button>
                </mat-radio-group>
                <!-- <div class="offset-2 chkbox">
                    <mat-checkbox class="mt-2" color="primary" checked [(ngModel)]="user.intPassport" name="intPassport" ></mat-checkbox>
                    <span>Int’l Passport</span>
                </div> -->
            </div>
            <div class="drag-drop uploadfilecontainer" appDnd (onFileDropped)="uploadFile($event)" *ngIf="user_.docType=='intPassport'">
                <div>
                    <img src="assets/auth/share.svg" alt="">
                </div>
                <div>
                    <input type="file" #fileInput id="fileInput" hidden (change)="uploadFile($event.target.files)" >
                    Drag and drop your file here <br />
                    or <br /><span (click)="fileInput.click()"> browse</span>
                </div>
                <div  class="files-list" *ngFor="let file of files;let i= index">
                    <p> {{ file }} </p>
                 </div>
         
            </div>

            <div class=""  *ngIf="user_.docType=='nin'">
                <!-- <label for="edit">Bank Verification Number</label> -->
                <div class="input-box edit">
                  <input type="number" name="" id="edit"/>
                <!-- <div style="cursor: pointer" class="ml-auto">
                    <img src="assets/auth/edit.svg" />
                </div> -->
                </div>
            </div>

            <button mat-button type="submit" (click)="handleSubmit()">
                Create Account
            </button>
        </div>
    </form>
  </div>  