.parent{
    background-color: #E5E5EF;
}
.body {
    padding: 30px 30px;
    display: flex;
    margin-top: 5px;
    background-color: #FFFFFF;
}
.segment1 {
    box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
    border-radius: 5px;
    padding: 25px 71px;
    width: 75%;
}
.text1{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #26474E;
}
.text2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #26474E;
}
.square-box{
    border: 1px solid rgba(152, 157, 179, 0.4);
    border-radius: 15px;
    padding: 30px 35px;
    margin: 20px 0px 50px 0px;
}
.first-line {
    display: flex; margin-bottom: 35px;
}
.input-section {
    display: flex;
    margin-top: 21px;
}
.input-section select {
    background: #FFFFFF;
    border: 1px solid #26474E;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #262C31;
    padding: 16px 9px;
    margin-right: 9px;
    width: 20%;
}
.input-section input {
    border: 1px solid #26474E;
    border-radius: 15px;
    width: 80%;
    outline: none
}
.card-list {
    display: flex;
}
.cards {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
    border-radius: 15px;
    padding: 30px 0px 30px 29px;
    width: 25%;
    margin-right: 12px;
}
.cards:last-child {
    margin-right: 0px;
}
.amount {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-right: 14px;
    color: #262C31;
}
.small-amount {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
}
.country {
    font-weight: 600;
    font-size: 14px;
    color: #262C31;
    position: absolute;
    line-height: 115px;
}
.last-box {
    border: 1px solid rgba(152, 157, 179, 0.4);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px 36px;
}
.last-box select, .last-box input {
    border: 1px solid #26474E;
    border-radius: 15px;
    padding: 12px 5px;
}