<div class="body">
    <div class="brand">
        <img src="assets/auth/anelloh3.svg" alt="">
    </div>
    <div class="section-two">
        <div>
            <div class="text1">
                Coming Soon!
            </div>
            <div class="text2">
                Expect us shortly. We are currently<br /> working on creating something fantastic.
            </div>
        </div>
        <div class="ml-auto">
            <img src="assets/auth/coming-soon.svg"  alt="">
        </div>
    </div>
</div>