.body {
    padding: 44px 0px 55.69px 101px;
}
.text1 {
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.002em;
    margin-bottom: 41px;
    color: #254750;

}
.text2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #254750;
}
.section-two {
    display: flex;
    align-items: center;
}
.ml-auto img {
    height: 85vh;
}
@media screen and (max-width: 1032px) {
    .section-two {
        display: block;
        text-align: center;
        justify-content: center;
    }
}   