<div class="body animate__animated animate__fadeIn" *ngIf="!addUserClicked">
    <div class="one">
        <div>Users</div>
        <button mat-button (click)="toggleAddUser()">+ Add User</button>
    </div>

    <div class="two">
        <div class="search-box">
            <img src="assets/header/search.svg" />
            <input type="search" placeholder="Search users"   />
        </div>

        <table class="table">
            <thead class="thead" >
                <tr>
                    <th>Staff Code </th>
                    <th>Name </th>
                    <th>Email </th>
                    <th>Access Level </th>
                    <th>Status </th>
                    <th>Action </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users; let i = index">
                    <td> 3456789021 </td>
                    <td>
                        <img src="assets/header/avatar.jpg" width="25" height="25" alt="">
                        Oluchukwu Adumije
                    </td>
                    <td>oluchukwu@gmail.com</td>
                    <td>Admin</td>
                    <td>
                        <span style="padding: 4px 8px" [style.color]=" user.status==1? '#76CDCD':'#F27348' " [style.background-color]=" user.status==1? 'rgba(118, 205, 205, 0.1)':'rgba(242, 115, 72, 0.1)' ">Active</span> 
                    </td>
                    <td class="td-button">
                        <img src="assets/super-admin/user/ellypsis.svg" alt="">
                    </td>
                </tr>
            </tbody>
        </table>
        
        <table>
            <thead>
                <tr>
                   
                </tr>
            </thead>
        </table>

    </div>

</div>
<app-admin-header></app-admin-header>
<app-side-nav></app-side-nav>


<app-add-user *ngIf="addUserClicked"></app-add-user>
