<div class="parent">
    <app-header></app-header>
    <div class="body">
        <div class="rect">

            <div class="rect1">
                <div class="text">
                    <div class="one">
                        Publish your orders to get<br /> swapped
                    </div>
                    <div class="two">
                        The best platform to exchange currencies.
                    </div>
                    <button mat-button>
                        Create a new order
                        </button>
                </div>
                <div class="">
                    <img src="assets/listing/publish-listing.svg" />
                </div>
            </div>

            <div class="rect2">
                <div class="head">
                    <div>Top listings</div>
                    <div><a href="" >View more</a></div>
                </div>
                <table class="table table-hover" >
                    <thead class="thead" >
                        <tr>
                            <th>To Swap</th>
                            <th>For</th>
                            <th>Prefered Date</th>
                            <th>By</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let item of items">
                            <td>N200,000</td>
                            <td>USD($)</td>
                            <td>N 400/$1</td>
                            <td>@Oluchi</td>
                            <td>Published</td>
                            <td>
                                <button class="button" style="margin-right: 10px">View </button>
                                <button class="button">Swap</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="group">
            <img src="assets/listing/group.svg" />
        </div>
    </div>
</div>