.parent{
    background-color: #E5E5EF;
}
.body {
    padding: 40px 30px;
    display: flex;
    margin-top: 5%;
    background-color: #FFFFFF;
}
.segment1 {
    box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
    border-radius: 5px;
    padding: 25px 71px;
    width: 75%;
}
.text1{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #26474E;
}
.text2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #26474E;
}
.square-box{
    border: 1px solid rgba(152, 157, 179, 0.4);
    border-radius: 15px;
    padding: 30px 35px;
    margin: 20px 0px 50px 0px;
}
.first-line {
    display: flex; margin-bottom: 35px;
}
.input-section {
    display: flex;
    margin-top: 21px;
}
.input-section select {
    background: #FFFFFF;
    border: 1px solid #26474E;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #262C31;
    padding: 16px 9px;
    margin-right: 9px;
    width: 20%;
    outline: none;
}
.input-section input {
    border: 1px solid #26474E;
    border-radius: 15px;
    width: 80%;
    outline: none
}
input {
    padding: 0px 15px;
}
.card-list {
    display: flex;
}
.single-card-list {
    padding: 36px 21px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.single-card-list .flex2 div:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #262C31;
}
.flex2 {
    margin-left: 40px;
}
.single-card-list .flex2 div:first-child {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.cards {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
    border-radius: 15px;
    padding: 30px 5px 30px 15px;
    width: 25%;
    cursor: pointer;
    margin-right: 12px;
}
.cards:last-child {
    margin-right: 0px;
}

.amount {
    font-weight: 600;
    font-size: 22px;
    white-space: nowrap;
    line-height: 29px;
    margin-right: 14px;
    color: #262C31;
}
.small-amount {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #848484;
}
.country {
    font-weight: 600;
    font-size: 14px;
    color: #262C31;
    position: absolute;
    line-height: 115px;
}
.last-box {
    border: 1px solid rgba(152, 157, 179, 0.4);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px 36px;
}
.last-box select, .last-box input, .box {
    border: 1px solid #26474E;
    border-radius: 15px;
    padding: 12px 5px;
}
.box {
    width: 80px;
    margin-right: 9px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 19.69px;
    color: #26474E;
}
.btn-section {
    margin-top: 54px;
}
.btn-section button:first-child, .btn-section button:last-child {
    border: 1px solid #F27348;
    border-radius: 15px;
    padding: 14px 94px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F27348;
    outline: none;
}

.btn-section button:last-child {
    background-color: #F27348;
    padding: 14px 66.75px;
    color: #fff;
    margin-left: 15.25px;
}

.btn-section button:last-child:hover, .btn-section button:first-child:hover {
    opacity: .7;
}

.group2 {
    padding: 55px 34.9px 63px 34px;
    background-color: #FFFFFF;
    border: 1px solid rgba(152, 157, 179, 0.3);
    box-sizing: border-box;
    box-shadow: 2px 8px 20px rgba(152, 157, 179, 0.15);
    border-radius: 5px;
    /* height: 53vh; */
}
.group1 {
    padding: 122px 24px 149px 25px;
    background-color: #76CDCD;
    box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
    border-radius: 5px;
    margin-bottom: 16px;
}
.segment2 { 
    margin-left: 30px;
}

@media screen and (min-width: 800px) {

    .segment2 { 
        margin-left: 30px;
        /* width: 20%; */
    }
    .segment2 img {
        width: 100%;
    }
    .group1 {
        padding: 80px 24px 100px 25px;
        background-color: #76CDCD;
        box-shadow: 2px 8px 15px rgba(78, 147, 147, 0.1);
        border-radius: 5px;
        margin-bottom: 16px;
    }
    .segment1 {
        box-shadow: 0px 4px 10px rgba(38, 71, 78, 0.1);
        border-radius: 5px;
        padding: 18px 36px;
        width: 75%;
    }
    .second-line img {
        width: 40%;
    }
    .amount {
        font-weight: 600;
        font-size: 18px;
        white-space: nowrap;
        line-height: 20px;
        margin-right: 10px;
        color: #262C31;
    }
    .small-amount {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #848484;
    }
    .text1{
        font-weight: bold;
        font-size: 16px;
        line-height: 12px;
        color: #26474E;
    }
    .text2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #26474E;
    }
    label {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 19.69px;
        color: #26474E;
    }
    .btn-section {
        margin-top: 54px;
    }
    .btn-section button:first-child, .btn-section button:last-child {
        border: 1px solid #F27348;
        border-radius: 15px;
        padding: 19px 94px;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #F27348;
        outline: none;
    }
    
    .btn-section button:last-child {
        background-color: #F27348;
        padding: 19px 66.75px;
        color: #fff;
        margin-left: 15.25px;
    }
    
    .btn-section button:last-child:hover, .btn-section button:first-child:hover , .group2:hover{
        opacity: .7;
    }
    .country, .box {
        font-size: 12px;
    }
    .group2:hover {
        cursor: pointer;
    }
    .select {
        font-size: 12px !important;
    }
    
}