
<div class="parent">
    <app-header ></app-header>
    <div class="body">
        <div class="segment1">

            <!-- create order -->
            <div class="text1">Create order</div>
            <div class="square-box ">
                <div class="first-line">
            
                    <div class="w-50">
                        <div class="text2">
                            I want to swap
                        </div>
                        <div class="input-section">
                            <select name="fromCurrency" [(ngModel)]="order.fromCurrency" (change)="doCalculation()">
                                <option value="NGN">NGN</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="CAD">CAD</option>
                            </select>
                            <input type="number" name="amount" [(ngModel)]="order.amount"  (keyup)="doCalculation()"/>
                        </div>
                    </div>
            
                </div>
                <!-- Market Rate -->
                <div class="second-line">
                    Market Rate
                    <!-- condition toggler -->
                    <div class="card-list" *ngIf="order.fromCurrency=='NGN'">
                        <div class="cards">
                        <div style="position: relative">
                            <img src="assets/listing/usd.svg" />
                            <span class="country">GBP</span>
                        </div>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    $0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/down-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-down.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards">
                            <img src="assets/listing/cad.svg" />
                            <span class="country">CAD</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    $0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/up-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-up.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards">
                            <img src="assets/listing/gbp.svg" />
                            <span class="country">GBP</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    $0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/down-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-down.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards">
                            <img src="assets/listing/jpy.svg" />
                            <span class="country">EUR</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    $0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/up-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-up.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- condition toggler -->
                    <div class="single-card-list d-flex" *ngIf="order.fromCurrency!='NGN'">
                        <img src="assets/listing/ngn.svg" alt="">
                        <div class="flex2">
                            <div>NGN</div>
                            <div>₦ 0.00/$ 0.00</div>
                        </div>
                        <div class="flex3 ml-auto">
                            <img src="assets/listing/chart.svg" alt=""> <br />
                            <img src="assets/listing/arrow-down.svg" alt=""> $0.00
                        </div>
                    </div>

                </div>
                
                <!-- Prefered Rate -->
                <div class="third-line" style="margin-top: 35px">
                    My preferred rate
                    <div class="d-flex">
            
                        <div class="w-50 input-section" style="margin-right: 21px">
                          
                            <!-- <div class="box">{{order.fromCurrency}}</div> -->
                            <div class="box">Rate</div>
                            <!-- <img src="assets/listing/swap.svg"  style="margin-right: 11px"/> -->
                            <input type="number" [(ngModel)]="order.preferedRate" name="preferedRate"  (keyup)="doCalculation()"/>
                        </div>
                        <div class="w-50 input-section">
                            <select [(ngModel)]="order.totalAmountCurrency" name="totalAmountCurrency" (change)="doCalculation()">
                                <option value="USD">USD</option>
                                <option value="NGN">NGN</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="CAD">CAD</option>
                            </select>
                            <input type="number" readonly [(ngModel)]="order.totalAmount" name="totalAmount"/>
                        </div>
            
                    </div>
                
                </div>
            
            </div>

            <!-- destination account details -->
            <div class="last-box row">
                <div class="col-6" >
                    <label for="bank">Bank</label><br />
                    <select id="bank" [(ngModel)]="order.bank" name="bank" class="col-12">
                        <option value="access_bank">Access Bank</option>
                        <option>Access Bank</option>
                        <option>Access Bank</option>
                    </select>
                </div>

                <div class="col-6" >
                    <label for="bank" id="account_no" >Account Number</label><br />
                    <input type="number" id="account_no"  [(ngModel)]="order.accountNumber" name="accountNumber" class="col-12" />
                </div>
                
                <div class="col-6" style="margin-top: 19.69px">
                    <label for="routing_no">Routing Number</label><br />
                    <input type="number" id="routing_no" name="routingNumber" [(ngModel)]="order.routingNumber" class="col-12" />
                </div>

            </div>

            <div class="btn-section d-flex">
                <button mat-button  class="ml-auto">Publish</button>
                <button mat-button (click)="findMatch()">Find A Match</button>
            </div>
        </div>

        <div class="segment2">
            <div class="group1">
                <img src="assets/listing/smallcard.svg" />
            </div>
            <div class="group2">
                <img src="assets/listing/group.svg" />
            </div>
        </div>
    </div>
</div>
