
<div class="parent">
    <app-header ></app-header>
    <div class="body animate__animated animate__fadeIn">
        <div class="segment1">

            <!-- create order -->
            <div class="text1">Create order</div>
            <div class="square-box ">
                <div class="first-line">
            
                    <div class="w-50">
                        <div class="text2">
                            I want to swap
                        </div>
                        <div class="input-section">
                            <select name="myCurrency" class="select" [(ngModel)]="order.myCurrency" (change)="doCalculation()">
                                <option value="NGN">NGN</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="CAD">CAD</option>
                            </select>
                            <input type="number" name="myAmount" [(ngModel)]="order.myAmount"  (keyup)="doCalculation()"/>
                        </div>
                    </div>
            
                </div>
                <!-- Market Rate -->
                <div class="second-line">
                    Market Rate
                    <!-- condition toggler -->
                    <div class="card-list" *ngIf="order.myCurrency=='NGN'">
                        <div class="cards" (click)="toggelePrefferdCurrency('USD')" id="usd" style="border: 1px solid #26474E;">
                            <div style="">
                                <img src="assets/listing/usd.svg" />
                                <span class="country">USD</span>
                            </div>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    $ 0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/down-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-down.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards" (click)="toggelePrefferdCurrency('CAD')" id="cad">
                            <img src="assets/listing/cad.svg" />
                            <span class="country">CAD</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    C$ 0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/up-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-up.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards" (click)="toggelePrefferdCurrency('GBP')" id="gbp">
                            <img src="assets/listing/gbp.svg" />
                            <span class="country">GBP</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    £
                                    0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/down-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-down.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="cards" (click)="toggelePrefferdCurrency('EUR')" id="eur">
                            <img src="assets/listing/jpy.svg" />
                            <span class="country">EUR</span>
                            <div class="d-flex" style="margin-top: 20px;">
                                <div class="amount">
                                    €
                                    0.00
                                </div>
                                <div class="chart">
                                    <div>
                                        <img src="assets/listing/up-trend.svg"  />
                                    </div>
                                    <div>
                                        <img src="assets/listing/arrow-up.svg"  />
                                        <span class="small-amount">$0.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- condition toggler -->
                    <div class="single-card-list d-flex" *ngIf="order.myCurrency!='NGN'">
                        <img src="assets/listing/ngn.svg" alt="">
                        <div class="flex2">
                            <div>NGN</div>
                            <div>₦ 0.00/$ 0.00</div>
                        </div>
                        <div class="flex3 ml-auto">
                            <img src="assets/listing/chart.svg" alt=""> <br />
                            <img src="assets/listing/arrow-down.svg" alt=""> $0.00
                        </div>
                    </div>

                </div>
                
                <!-- Prefered Rate -->
                <div class="third-line" style="margin-top: 35px">
                    My preferred rate
                    <div class="d-flex">
            
                        <div class="w-50 input-section" style="margin-right: 21px">
                          
                            <!-- <div class="box">{{order.fromCurrency}}</div> -->
                            <div class="box">Rate</div>
                            <!-- <img src="assets/listing/swap.svg"  style="margin-right: 11px"/> -->
                            <input type="number" [(ngModel)]="order.rate" name="rate"  (keyup)="doCalculation()"/>
                        </div>
                        <div class="w-50 input-section">
                            <select [(ngModel)]="order.convertedCurrency" class="select" name="convertedCurrency" (change)="doCalculation()">
                                <option value="USD">USD</option>
                                <option value="NGN">NGN</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="CAD">CAD</option>
                            </select>
                            <input type="number" readonly [(ngModel)]="order.convertedAmount" name="convertedAmount"/>
                        </div>
            
                    </div>
                
                </div>
            
            </div>

            <!-- destination account details -->
            <div class="last-box row">
                <div class="col-6" >
                    <label for="bank">Bank</label><br />
                    <select id="bank" [(ngModel)]="order.myBankName" name="myBankName" class="col-12">
                        <option value="Access Bank">Access Bank</option>
                        <option>Access Bank</option>
                        <option>Access Bank</option>
                    </select>
                </div>

                <div class="col-6" >
                    <label for="bank" id="account_no" >Account Number</label><br />
                    <input type="number" id="account_no"  [(ngModel)]="order.myAccountNumber" name="myAccountNumber" class="col-12" />
                </div>
                
                <div class="col-6" style="margin-top: 19.69px">
                    <label for="routing_no">Routing Number</label><br />
                    <input type="number" id="routing_no" name="bankRouteNo" [(ngModel)]="order.bankRouteNo" class="col-12" />
                </div>

            </div>

            <div class="btn-section d-flex">

                <button type='submit' class="ml-auto" mat-button (click)="loading.publish? '' : checkIfAllInput('publish')">
                    <span *ngIf="!loading.publish">Publish</span> 
                    <img *ngIf="loading.publish" src="assets/auth/loader.gif" width="20" height="20" alt="">
                </button>
              
                <button type='submit' mat-button (click)="loading.findMach? '' : checkIfAllInput('findMatch')">
                    <span *ngIf="!loading.findMach">Find A Match</span> 
                    <img *ngIf="loading.findMach" src="assets/auth/loader.gif" width="20" height="20" alt="">
                </button>
               
            </div>
        </div>

        <div class="segment2" >
            <div class="group1">
                <img src="assets/listing/smallcard.svg" width="" />
            </div>
            <div class="group2">
                <img src="assets/listing/group.svg" width="" />
            </div>
        </div>
    </div>
</div>

<app-response [data] = "matchFound" *ngIf="showResponse"></app-response>
