.body {
     background-color: #fff;
    /* min-height: 99vh; */
}
.text1 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #26474E;
    margin-bottom: 10px;
    text-align: center;
}
.text2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.002em;
    margin-bottom: 8px;
    color: #4D4D4D;
}   
.box {
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 22px 34px;
    margin-bottom: 10px;
    width: 80%;
    display: flex; justify-content: space-between; align-items: center;
}
.box .d-flex div div:first-child, .box .d-flex div div:last-child, .non-flex div:first-child, .non-flex div:last-child {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #262C31
}

.box .d-flex div div:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #F27348;
    margin: 7px 0px 5px 0px;
}

.notice {
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.002em;
    color: #4D4D4D;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin: 15px 30px;
}
.btn-section button  {
    /* width: 40%; */
    border: 1px solid #F27348;
    border-radius: 15px;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;width: 50%;
    text-align: center;
    background-color: #fff;
    color: #F27348;
    outline: none;
}
.btn-section button:last-child {
    margin-left: 16px;
    background-color: #F27348;
    color: #fff;
}
.btn-section button:hover {
    opacity: .7;
}
.not-btn-section {
    display: flex;
   justify-content: center;
}
.not-success-btn {
    padding: 12px 71px   !important;
    margin: 20px 0px 50px 0px  !important;
    background-color: #F27348;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 15px;
    outline: none;
}

.payment-success {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 40px 150px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #254750;
}

.success-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #254750;
    margin-top: 30px;
}