.body {
     background-color: #fff;
     padding: 25px;
     text-align: center;
    /* min-height: 99vh; */
}
.header1 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-top: 40px;
    color: #26474E;
}
.cancel {
    float: right; cursor: pointer;
}
.header2 {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.002em;
    color: #4D4D4D;
    margin-top: 8px;
}
.summary {
    padding: 10px 20px;
    margin: 10px 18px;
}
.one {
    border-bottom: 1.5px solid #efefef;
    margin-top: 15px;
}
.sub-one {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #F27348;
}
.label {
    font-weight: 500;
    font-size: 9px;
    line-height: 15px;
    color: #262C31;
}
.btn-section {
    display: flex; margin-top: 30px;
    justify-content: space-between;
}
button {
    border: 1px solid #F27348;
    width: 48%;
    border-radius: 12px;
}
.err-body {
    padding: 40px 0px;
}
button:last-child {
    background-color: #F27348; color: white;
}
label {
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    color: #254750;
    margin-bottom: 7px;
    display: flex;
}
.input-box, select {
    border: 1px solid #254750;
    border-radius: 12px;
    padding: 8px 12px;
}
input, select {
    width: 96%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #254750;
    outline: none;
    border: 0px;
}