
.body {
    display: flex;
}
.text1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #26474E;
}
.text2 {
    margin: 10px 0px 34px 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #26474E;
}
.text3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #26474E;
}
.left {
    background-color: #F0F4F5;
    width: 50%;
}
.frame {
    display: flex;
    justify-content: center;
}
.right {
    padding: 40px 100px 53px 85px;
    width: 50%
}

h5 {
   font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #254750;
}
h6 {
   font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 12px
}
label {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #254750;
    margin-bottom: 7px;
}

.input-box, select, #mobile {
    border: 1px solid #254750;
    border-radius: 12px;
    padding: 5px 12px;
    
}
.form {
    margin-top: 20px;
}
input {
    width: 96%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #254750;
    outline: none;
    border: 0px;
}
.double-input{
    display: flex;
}
.double:first-child{
    margin-right: 5px;
}
.double {
    width: 50%;
}

.password {
    display: flex;
}
#password {
    width: 90%;
}
#mobile {
    width: 85%
}
select {
    width: 15%;
    padding: 4px 10px;
    margin-right: 5px;
}
button {
    margin: 12px 0px;
    background-color: #26474E;
    color: white;
    border-radius: 15px;
    padding: 8px;
    font-size: 12px;
    width: 100%;
}
button:hover {
    opacity: .5;
}
.last-text {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #254750;
    display: flex;
    justify-content: center;
}
.last-text a {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #254750;
    margin-left: 7px;
}
option, select {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #254750;
}
option {
    padding: 14px;
}
.pwdErr {
    color: rgb(218, 63, 63);
    font-size: 10px;
}