.body {
    display: flex; min-height: 100%;
    background-color: #fff;
}
.text1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #26474E;
}
.text2 {
    margin: 10px 0px 34px 0px;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #26474E;
}
.text3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #26474E;
}
.left {
    background-color: #F0F4F5;
    width: 50%;
}
.frame {
    display: flex;
    justify-content: center;
}
.right {
    padding: 40px 100px 53px 85px;
    width: 50%;
    background-color: #fff;
}

h5 {
   font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #254750;
}
h6 {
   font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 12px
}
label {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #254750;
    margin-bottom: 7px;
}

.input-box, select, #mobile {
    border: 1px solid #254750;
    border-radius: 12px;
    padding: 8px 12px;
    
}
.form {
    margin-top: 20px;
}
input {
    width: 96%;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #254750;
    outline: none;
    border: 0px;
}
.double-input{
    display: flex;
}
.double:first-child{
    margin-right: 5px;
}
.double {
    width: 50%;
}

.password {
    display: flex;
}
#password {
    width: 90%;
}
#mobile {
    width: 85%
}
select {
    width: 15%;
    padding: 4px 10px;
    margin-right: 5px;
}
button {
    margin: 12px 0px;
    background-color: #26474E;
    color: white;
    border-radius: 15px;
    padding: 11px;
    font-size: 12px;
    width: 100%;
}
button:hover {
    opacity: .5;
}
.last-text {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #254750;
    display: flex;
    justify-content: center;
}
.last-text a {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    color: #254750;
    margin-left: 7px;
    cursor: pointer;
    text-decoration: underline;
}
option, select {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #254750;
}
option {
    padding: 14px;
}
.pwdErr {
    color: rgb(218, 63, 63);
    font-size: 10px;
    width: 50%;
}
.double-pwdErr {
    display: flex;
}
@media screen and (max-width: 1221px) {
    .right {
        padding: 79px 50px 53px 50px;
        width: 50%;
        background-color: #fff;
    }
}
@media screen and (max-width: 812px) {
    .left {
       display: none;
    }
    .right {
        width: 100%;
    }
}
@media screen and (max-width: 451px) {
    select {
        width: 40%;
    }
    .mobile {
        width: 60%;
    }
}
@media screen and (max-width: 405px) {
    .left {
       display: none;
    }
    .right {
        width: 100%;
    }
    .right {
        padding: 79px 30px 53px 30px;
    }
}
@media screen and (max-width: 312px) {

    .right {
        padding: 79px 20px 53px 20px;
    }
    h5 {
         font-size: 18px;
         line-height: 18px;
     }
     h6 {
         font-size: 14px;
         line-height: 16px;
     }
     label {
         font-size: 11px;
         line-height: 18px;
     }
     .last-text {
        font-size: 10px;
        line-height: 17px;
    }
    .last-text a {
        font-size: 10px;
        line-height: 14px;
    }
    .forgot-password{
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 220px) {
    select {
        width: 50%;
    }
    .mobile {
        width: 50%;
    }
}

@media screen and (max-width: 205px) {
    .last-text {
        font-size: 8px;
        white-space: nowrap;
    }
    .last-text a {
        font-size: 8px;
        white-space: nowrap;
    }
    .forgot-password{
        font-size: 8px;
        white-space: nowrap;
    }
    .right {
        padding: 79px 5px 53px 5px;
    }
}



