<div class="parent">
    <app-header></app-header>
    <div class="body animate__animated animate__fadeIn">
        <div class="segment1">
            <div class="card">
                <div class="text1">@uche</div>
                <div class="text2">
                    <div class="text-center">
                        <div class="transaction_amount">50+</div>
                        <div style="font-size: 16px; line-height: 20px; margin-right: 12.05px;">Transactions</div>
                    </div>
                    <div style="border-left: 1px solid #76CDCD; text-align: center;">
                        <div style="padding-left: 28.05px;" class="transaction_amount">3.8 <img src="assets/listing/star.svg" alt="" style="margin-left: 3px;"></div>
                        <div style="font-size: 16px; line-height: 20px;">Ratings</div>
                    </div>
                </div>

                <div class="text-group">
                    <div class="text3">Currency</div>
                    <div class="text4">
                        {{paymentSummary?.myCurrency}}
                    </div>
                </div>

                <div class="top-of-btn">
                    <div class="first_" > 
                        <div class="text3">Amount</div>
                        <div class="text4">
                            {{
                                paymentSummary?.myCurrency == 'NGN' ? '₦' :
                                paymentSummary?.myCurrency == 'USD' ? '$' :
                                paymentSummary?.myCurrency == 'CAD' ? 'C$' :
                                paymentSummary?.myCurrency == 'GBP' ? '£' : '€'
                            }}
                            {{paymentSummary?.myAmount}}
                        </div>
                    </div>
                    <div class="">
                        <div class="text3">Rate</div>
                        <div class="text4">
                            {{
                                paymentSummary?.myCurrency == 'NGN' ? '₦' :
                                paymentSummary?.myCurrency == 'USD' ? '$' :
                                paymentSummary?.myCurrency == 'CAD' ? 'C$' :
                                paymentSummary?.myCurrency == 'GBP' ? '£' : '€'
                            }}
                            {{paymentSummary?.rate}}/
                            {{
                                paymentSummary?.convertedCurrency == 'NGN' ? '₦' :
                                paymentSummary?.convertedCurrency == 'USD' ? '$' :
                                paymentSummary?.convertedCurrency == 'CAD' ? 'C$' :
                                paymentSummary?.convertedCurrency == 'GBP' ? '£' : '€'
                            }}
                        </div>
                    </div>
                </div>

                <div class="btn-section">
                    <button mat-button (click)="handleRout()" >Back</button>
                    <button mat-button>Swap</button>
                </div>

            </div>  
        </div>
        <div class="segment2">
            <div class="group1">
                <div class="text1_" style="margin-bottom: 37px;">Payment Summary</div>
                <div class="flex" >
                    <div class="text2_ ">Need USD </div>
                    <div class="text1_">{{paymentSummary.myCurrency}} {{paymentSummary.myAmount}}</div>
                </div>
                <div class="flex">
                    <div class="text2_">Rate </div>
                    <div class="text1_">₦ {{paymentSummary.rate}}</div>
                </div>
                <div class="flex">
                    <div class="text2_">Subtotal</div>
                    <div class="text1_">{{paymentSummary.convertedCurrency}} {{paymentSummary.convertedAmount}}</div>
                </div>
                <div class="flex">
                    <div class="text2_">Proessing Fee</div>
                    <div class="text1_">{{paymentSummary.transactionFee}}</div>
                </div>
                <div class="flex" style="border: 0px;">
                    <div class="text2_">Total</div>
                    <div class="text1_">{{paymentSummary.convertedCurrency}} {{ paymentSummary.convertedAmount + paymentSummary.transactionFee}}</div>
                </div>
                <div class="d-flex mt-4">
                    <div>
                        <img src="assets/listing/notice.svg" alt="" style="margin-right: 5.43px">
                    </div>
                    <div class="ml-1">
                        Summary of your transaction, based on the order you created.
                    </div>
                </div>
            </div>
            <div class="group2">
                <img src="assets/listing/group.svg" />
            </div>
        </div>
    </div>
</div>
